<body>
    <nav
        class="t1000e translate-x-[45.83%] z-10 mt-6 fixed left-1/2 transform hover:-translate-x-1/2 w-11/12 mx-auto glass-slate rounded-full flex justify-between items-center px-10 py-8 text-2xl">
        <h1 id="navhint" class="t500e opacity-100 text-7xl">&larr;</h1>
        <a class="opacity-100 p-3 hover:opacity-100 t200e text-6xl w-3/4" href="/">PC8th</a>

        <!-- Navigation Links -->
        <div class="flex justify-center w-full">
            <!-- Product List -->
            <a href="/listprod" class="relative group p-3">
                <div class="opacity-50 group-hover:opacity-100 t200e">Product List</div>
                <div class="absolute bottom-0 left-0 w-full h-0.5 bg-white scale-x-0 group-hover:scale-x-100 t200e">
                </div>
            </a>

            <!-- Order List -->
            <a href="/listorder" class="relative group p-3">
                <div class="opacity-50 group-hover:opacity-100 t200e">Order List</div>
                <div class="absolute bottom-0 left-0 w-full h-0.5 bg-white scale-x-0 group-hover:scale-x-100 t200e">
                </div>
            </a>

            <!-- My Cart -->
            <a href="/showcart" class="relative group p-3">
                <div class="opacity-50 group-hover:opacity-100 t200e">My Cart</div>
                <div class="absolute bottom-0 left-0 w-full h-0.5 bg-white scale-x-0 group-hover:scale-x-100 t200e">
                </div>
            </a>
        </div>


        <!-- User Authentication -->
        <div class="text-center items-center">
            {{#if username}}
            <!-- If logged in, show user's name and logout button -->
            <p class="text-white px-3 w-full">Hey,
                <a href="/customer?userid={{userid}}" class="font-bold opacity-50 hover:opacity-100 t200e">
                    {{username}}
                </a>
            </p>
            <a href=" /logout" class="opacity-50 p-3 hover:opacity-100 t200e px-10">Logout</a>
            {{else}}
            <!-- If not logged in, show login button -->
            <a class="opacity-100 p-3 hover:opacity-100 t200e px-10" href="/login">Login</a>
            {{/if}}

        </div>
    </nav>


    <div
        class="relative h-screen w-full flex items-center justify-center bg-slate-600 text-white animate-fade-in-instant">
        <img class="absolute object-cover w-full h-full brightness-50" src="/img/ryzen7.jpg">

        <div class="absolute  w-full space-y-8">

            <div class="my-10 title font-extralight text-7xl text-center">
                <h1 class="animate-fall-1 ">
                    PC8th
                    <br>
                    <h1 class="text-xl opacity-0 animate-fall-1">
                        Register and get your dream PC today.
                    </h1>
                </h1>
            </div>

            <form class="my-0 space-y-4 w-1/2 m-auto glass-slate py-5 px-10 rounded-xl opacity-0 animate-forms-1"
                name="RegisterForm" method="post" action="/validateRegister">

                <h1 class="title font-extralight text-4xl text-center opacity-0 animate-forms-2">Let's get you geared
                    up.</h1>
                {{#if registerMessage}}
                <h1 class=" text-red-400 text-center">
                    {{registerMessage}} <!-- Display the register message -->
                </h1>
                {{/if}}
                <div class="grid grid-cols-1 gap-4 ">
                    {{#if registerMessage}}
                    <input type="text" name="userid" maxlength="20"
                        class="inner-forms border-red-700  text-center opacity-0 animate-forms-4 "
                        placeholder="Username" required>
                    {{else}}
                    <input type="text" name="userid" maxlength="20"
                        class="inner-forms text-center opacity-0 animate-forms-5 " placeholder=" Username" required>
                    {{/if}}
                    <input type="password" name="password" maxlength="30"
                        class="inner-forms text-center w-full opacity-0 animate-forms-6"
                        value="{{registerInput.password}}" placeholder="Password" required>
                </div>

                <div class="grid grid-cols-1 gap-2">
                    <input type="email" name="email" maxlength="50" value="{{registerInput.email}}"
                        class="inner-forms text-center w-full opacity-0 animate-forms-7" placeholder="Email" required>
                </div>

                <div class="grid grid-cols-2 gap-2 opacity-0 animate-forms-8">
                    <input type="text" name="firstName" maxlength="40" class="inner-forms text-center"
                        value="{{registerInput.firstName}}" placeholder="First Name" required>

                    <input type="text" name="lastName" maxlength="40" class="inner-forms text-center"
                        value="{{registerInput.lastName}}" placeholder="Last Name" required>
                </div>

                <div class="grid grid-cols-1 gap-4 ">
                    <input type="text" name="address" maxlength="50"
                        class="inner-forms text-center opacity-0 animate-forms-9" value="{{registerInput.address}}"
                        placeholder="Address">
                </div>

                <div class="grid grid-cols-4 gap-4 opacity-0 animate-forms-10">
                    <input type="text" name="city" maxlength="40" class="inner-forms text-center"
                        value="{{registerInput.city}}" placeholder="City">

                    <input type="text" name="state" maxlength="20" class="inner-forms text-center"
                        value="{{registerInput.state}}" placeholder="State/Province">

                    <input type="text" name="postalCode" maxlength="20" class="inner-forms text-center"
                        value="{{registerInput.postalCode}}" placeholder="Postal Code">

                    <input type="text" name="country" maxlength="40" class="inner-forms text-center"
                        value="{{registerInput.country}}" placeholder="Country">
                </div>

                <div class="grid grid-cols-1 gap-4 opacity-0 animate-forms-9">
                    <input type="text" name="phonenum" maxlength="20" class="inner-forms text-center"
                        value="{{registerInput.phonenum}}" placeholder="Phone Number">
                </div>

                <button type="submit" class="btn w-full mt-4 opacity-0 animate-forms-11">
                    Create Account &rarr;
                </button>

                <div class="text-center opacity-0 animate-forms-12 text-gray-500">
                    Already have an account?
                    <a href="/login" class="underline link">Login here</a>
                </div>

            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navbar = document.querySelector('nav');
            const navhint = document.getElementById('navhint');

            // Reveal navhint on hover
            navbar.addEventListener('mouseenter', function () {
                navhint.classList.remove('opacity-100');
                navhint.classList.add('opacity-0');
            });

            navbar.addEventListener('mouseleave', function () {
                navhint.classList.remove('opacity-0');
                navhint.classList.add('opacity-100');
            });
        });

    </script>
</body>